html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linier-gradient(135deg, #e0c3fc 0%, #8ec5fc 100%) color(#333);
    min-height: 100vh;
}